@media ( max-width: 320px ) {

    .for-responsive{
        max-width: 100%;
        width: 100%;
        margin: auto;
    }

    .img{
    left: 86px !important;
    }

    .header-section img{
    }

    .menu{
    left: 117px !important;
    position: relative !important;
    margin-top: 60px;
    line-height: 30px;
    }

    .menu ul{
    background: #fff;
    padding: 11px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 0;
    transition: .5s;    
    }

    .menu ul li{
    display: block;
    }

    .menu ul li a{
    color: #000;
    }

    .header-section{
    padding-bottom: 16px;
    }

    .fow-drop i:hover ul{
        opacity: 1;
        visibility: visible;
        height: 100%;
        position: relative;
        right: 78px;
        bottom: 46px;
    }

    .fow-drop i{
        margin-top: 0 !important;
        position: relative;
        left: 84px;
        display: flex;
        align-items: flex-start;
        top: 38px;
    }

    .shop-item{
    }

    .banner-section{
    }
}